footer{
    width: 100%;
    background-color: #FFF;
    position: absolute;
}

.footerContainer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer p{
    margin: 20px;
    text-align: center;
    color: #019CDE;
    opacity: 1;
    font-weight: bold;
}