

.menuContainer{
    width: 100%;
    background: #FFF; 
    box-shadow: 1px 5px 5px #222;
} 

.menuContainer nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconmenuContainer{
    display: none;
}

.logoContainer {
    padding: 0px 10px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 0;
}

.cine{
    color: #019CDE; 
    margin-right: -5px;
}

.ame{
    color: #F66391;
}

.menuContainer nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuContainer nav ul li{
    list-style: none;
    margin-right: 15px;
    opacity: .8;
}

.menuContainer nav ul li:hover{
    opacity: 1;
    text-decoration: underline;
}

.menuContainer nav ul li a{ 
    padding: 10px;
    color: #019CDE;
}

.menuContainer nav .searchContainer{
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.searchContainer:hover > #search{
    width: 150px;
    padding: 0 6px;
}

#search:focus{
    width: 150px;
    padding: 0 6px;
}

.menuContainer nav .searchContainer .btnSearch{
    width: 40px;
    height: 40px;
    color: #019CDE;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .7;
}

.menuContainer nav .searchContainer input{
    border: none;    
    padding: 0px;
    outline: none;
    line-height: 40px;
    border-bottom: 1px solid #DDD;
    width: 0px;
    transition: all .25s ease;
    opacity: .7;
}

.slide{
    display: none;
}

.close{
    display: none;
}

.menuHeader{
    box-shadow: 1px 5px 5px #222;
}



/** DROPDOWN **/

.dropdown:hover .dropdownList{
    opacity: 1;
    visibility: visible;
}

.dropdownList{
    background: #019CDE;
    border-radius: 4px;
    position: absolute;
    top: 50px;
    right: 20px;    
    color: #FFF;
    padding: 10px;
    margin-top: 8px;
    transform: translateX(10px);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.menuContainer nav ul .dropdownList li {
    width: 100%;
    opacity: 1;
    padding: 10px;
    color: #FFF;
}

.menuContainer nav ul .dropdownList li a{
    color: #FFF;
}

/** DROPDOWN **/


@media screen and (max-width: 760px){

    .menuContainer{
        width: 0px;
    }

    .logoContainer{
        position: relative;
        top: 0;
        margin-right: 10px;
    }

    .slide{
        display: block;
    }

    .slide a i{
        color: #222;
    }

    .menuContainer nav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #222;
        overflow-x: hidden;
        transition: all .25s ease;
    }

    .menuContainer nav ul{
        width: 100%;
        display: block;
        margin-top: -520px;
        margin-left: -25px;
    }

    .menuContainer nav .searchContainer .btnSearch{
        width: 0px;
        height: 0px;
        justify-content: flex-end;
        margin-left: 3px;
    }

    .menuContainer nav ul li a{
        color: #FFF;
        margin-bottom: 15px;
    }
    
    nav a{
        display: block;
        padding: 20px 30px;
        font-size: 25px;
        text-decoration: none;
        color: #CCC;
    }
    
    nav a:hover{
        color: #FFF;
        transition: all .25s ease;
    }
    
    nav .close{
        display: block;
        position: absolute;
        top: 0;
        right: 22px;
        margin-left: 50px;
        font-size: 30px;
    }
    
    .menuHeader{
        background-color: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    
    .slide a{
        color: #FFF;
        font-size: 36px;
        margin-left: 10px;
    }

    .searchContainer{
        position: absolute;
        top: 80px;
        display: none;
    }

    .searchContainer:hover > #search{
        width: 150px;
        padding: 0 6px;
    }

    #search:focus{
        width: 150px;
        padding: 0 6px;
    }

    #search{
        width: 150px;
        padding: 0 6px;
        border-radius: 40px;
        margin-left: 10px;
    }


    /** DROPDOWN **/

.dropdown:hover .dropdownList{
    opacity: 1;
    visibility: visible;
}


.dropdownList{
    width: 100%;
    position: relative;
    top: 0;
    transition: all .5s ease;
    margin-bottom: 15px;
}



.menuContainer nav ul .dropdownList li {
    width: 100%;
    padding: 0;
    margin-left: 25px;
}

.menuContainer nav ul .dropdownList li a{
    color: #FFF;
}

/** DROPDOWN **/

}